<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <% if current_user %>

      <%= button_to "Logout", session_url, method: :delete %>

      <%= auth_token %>
  </form>
  <% else %>

     <%= button_to "Login Page", new_session_url, method: :get %>

      <%= auth_token %>

  </form>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
