<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
        <h2>Hello <%= current_user.user_name %></h2>
        <form action= "<%=session_url %>" method="post">
          <input type= "hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
          <input type = "hidden"
                  name = "authenticity_token"
                  value = "<%= form_authenticity_token %>">
        </form>
  <% else %>
    <form action= "<%=new_session_url %>" method="get">
      <input type="submit" value="Login Page">

      <%= auth_token %>
    </form>
  <% end %>



</head>
<body>

<%= yield %>

</body>
<footer>
  <br>
  This site has a lot of stupid cats!  YAY!
  <br>
  <br>
  <%= yield :footer %>
</footer>
</html>
